body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1{
    font-size: 40px;
    color: black;
}
.card {
    background-color: #f5a45d;
    border: 1px solid;
    border-radius: 8px;
    padding: 30px;
    margin: 10px;
    display: inline-block;
    width: 250px;
    transition: transform 0.2s;
}

.card button{
    background-color: black;
    color: #fff;
    border: none;
    padding: 15px 32px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 15px 15px;
    cursor: pointer;
}

/* .card a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    cursor: pointer;
} */

.card:hover {
    transform: scale(1.05);
    /* cursor: pointer; */
}